@import "../../../styles/colors.scss";

.FullGradientFormField {
    display: block;

    label {
        width: 100%;

        .FullGradientFormLabel {
            text-align: left;
            width: 100%;
            margin-bottom: 0.2em;

            &::first-letter {
                text-transform: capitalize;
            }
        }

        .FullGradientFormInput {
            display: flex;
            align-items: center;
            position: relative;

            input {
                background-color: rgba($color: #ffffff, $alpha: 0.3);
                border: 1px solid white;
                border-radius: 30px;
                color: white;

                height: 2.5em;
                padding-left: 5%;
                width: 100%;

                &.Password {
                    padding-right: 2.2em;
                }

                &.Error {
                    border: 1px solid #9a0000d6;
                    box-shadow: 0px 0px 3px 2px #ffc8c8d6;

                    &.WhiteBackgroundVersion {
                        border: 1px solid #ffc8c8d6;
                    }
                }

                &.WhiteBackgroundVersion {
                    background-color: #f0f0f0;
                }
            }

            .PasswordEye {
                font-size: 0.8em;

                position: absolute;
                right: 1em;
                z-index: 2;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
