@import "../../../styles/colors.scss";

.SearchBar {
    border: none;
    border-radius: 50px;

    cursor: text;
    font: inherit;

    padding: 8px 50px 8px 20px;

    font-size: 1.1em;
    width: 100%;
    height: inherit;
}

.SearchIcon {
    position: absolute;
    z-index: 2;
    margin-top: 11px;
    margin-left: -40px;

    color: #aaa;
    //pointer-events: none;
    cursor: pointer;
    font-size: 1.15em;
}
