@import "./colors";

.full-gradient-form-container {
    position: absolute;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    width: 100%;
    text-align: center;

    &.full-gradient-form-long-container {
        position: static;
        transform: none;
        margin: 25px 0;
        width: 100%;
        text-align: center;
    }
}

.title-group {
    .title {
        color: white;
        font-size: 1.15rem;
        font-weight: bold;
    }

    .link-subtitle {
        a {
            color: white;
            text-decoration: underline;
        }
    }
}

.full-gradient-form-section {
    margin-bottom: 30px;

    .text {
        color: white;
        font-size: 1.15rem;
        font-weight: bold;
        padding: 0 30px;

        &.normal {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .back-to-standard-button {
        color: white;
        font-size: 1.5rem;

        position: absolute;
        left: 10px;
    }

    .button-group {
        width: 225px;

        margin: 10px auto;

        .button {
            margin: 10px 0;
        }
    }

    .link-text {
        margin: 15px 0;

        a {
            color: rgb(211, 211, 211);
            text-decoration: underline;
        }
    }

    .full-gradient-form {
        color: white;
        margin: 15px 0;

        .button-group {
            margin-top: 20px;
        }
    }
}

@media only screen and (max-height: 400px) {
    .full-gradient-form-container {
        position: static;
        transform: none;
        margin: 25px 0;
        width: 100%;
        text-align: center;
    }
}
