@import '../../../../styles/colors.scss';

.NavigationItem {
    border-radius: 15px;
    color: white;

    font-size: 1.25rem;
    padding: 0.7rem 10% 0.7rem 10%;
    width: 60%;

    &.Active {
        background-color: $orange;
    }
}