@import "../../../../styles/colors.scss";

.NavigationItem {
    border-radius: 15px;
    color: white;

    font-size: 1.25rem;
    padding: 0.7rem 10% 0.7rem 10%;
    width: 80%;

    &.Active {
        background-color: $orange;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &:hover:not(.Active) {
        border-bottom: 3px solid $orange;
        color: white;

        background-color: rgba(255, 255, 255, 0.1);

        text-decoration: none;
    }
}
