@import '../../../styles/colors.scss';

.SideDrawer {
    position: relative;

    .MenuProfileHeader {
        position: fixed;
    
        top: -40vh;
        margin: 0 auto;
        padding-top: 7vh;
        width: 100%;
    
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 0 0 40% 40%;
        overflow: hidden;
        color: white;
        text-align: center;
    
        transition: top 0.5s ease-in;
    
        & > div {
            // background-color: rgba(93, 73, 164, 0.4);
            border-radius: 100% 100% 0 0;
            padding-top: 9vh;
            padding-bottom: 3vh;

            :first-child {
                font-size: 1.5rem;
            }
            
            :nth-child(2) {
                font-size: 1.1rem;
            }
        }
    }

    &.IsMenuOpen {
        .MenuProfileHeader {
            top: 0;
            transition: top 0.5s ease-out;
        }
    }
}

