@import '../../../styles/colors.scss';

.Button {
    border: none;
    border-radius: 50px;

    cursor: pointer;
    font: inherit;

    padding: 8px 25px;
    margin: 10px;

    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    transition: 0.3s;
}

.White {
    background-color: white;
    color: black;

    &:hover {
        background-color: $orange;
        color: white;
    }
}

.Green {
    background-color: $green;
    color: white;
}

.Orange {
    background-color: $orange;
    color: white;
}

// Please, don't kill me if it's not pink... I'M A GUY, OK? I'M BARELY ABLE TO GET THE DIFFERENCE BETWEEN GREEN AND RED!!!
.Pink {
    background-color: $h2hPink;
    color: white;
}