@import '../../../../styles/colors.scss';

.NavBurger {
    width: 45px;
    height: 29px;
    padding-top: 16px;

    border-radius: 100%;
    border: 3px solid rgba($color: #EEE, $alpha: 0.0);

    transition: border 0.5s linear;

    span {
        position: absolute;
        display: block;

        background-color: white;

        margin-left: 3px;
        height: 7px;
        
        transition: width 0.5s, height 0.5s, transform 0.5s, margin-top 0.5s, margin-left 0.5s;
    }

    :first-child {
        width: 38px;

        margin-top: 0px;
    }

    :nth-child(2) {
        width: 25px;

        margin-top: 10px;
    }

    &.IsMenuOpen {
        border: 3px solid rgba($color: #EEE, $alpha: 1.0);

        span {
            position: absolute;
            margin-top: 4px;
            margin-left: 5px;

            width: 35px;
            height: 5px;
        }

        :first-child {
            transform: rotate(135deg);
        }
    
        :nth-child(2) {
            transform: rotate(-135deg);
        }
    }
}