@import '../../../../styles/colors.scss';

.ClosedVerticalCard{
    border-radius: 25px;
    background-color: lightgray;

    display: inline-block;

    height: 200px;
    width: 150px;

    margin: 0 10px;

    position: relative;

    background-image: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.6) 100%);
    background-size: cover;
}

.DescWrap {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;

    padding: 0 10px 15px 10px;
    
    color: white;
}

.DescTitle {
    font-size: 1.1em;
    font-weight: bold;

    width: 130px;
    max-height: 3em;

    white-space: normal;
    overflow: hidden;
}

.DescSubtitle {
    font-size: 0.9em;

    flex-basis: 100%;
    
    width: 130px;
    max-height: 3em;

    white-space: normal;
    overflow: hidden;
}