@import "../../styles/colors";

.Login {
    position: absolute;

    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    margin: 0;
    width: 100%;
    text-align: center;
}

.LoginSection {
    margin-bottom: 30px;

    .Text {
        color: white;
        font-size: 1.15rem;
        font-weight: bold;
    }

    .ButtonGroup {
        width: 225px;

        margin: 10px auto;

        .Button {
            margin: 10px 0;
        }
    }

    .LinkText {
        a {
            color: white;
            text-decoration: none;
        }
    }
}
