@import '../../../../styles/colors.scss';

.NavBurger {
    width: 35px;
    height: 35px;
    padding-top: 5px;

    border-radius: 100%;
    border: 3px solid rgba($color: #EEE, $alpha: 0.0);

    transition: border 0.5s linear;

    &:focus {
        outline:0;
    }

    span {
        position: absolute;
        display: block;

        background-color: white;

        margin-left: 4px;
        height: 6px;
        
        transition: width 0.5s, height 0.5s, transform 0.5s, margin-top 0.5s, margin-left 0.5s;
    }

    :first-child {
        width: 25px;

        margin-top: 0px;
    }

    :nth-child(2) {
        width: 15px;

        margin-top: 10px;
    }

    &.IsMenuOpen {
        border: 3px solid rgba($color: #EEE, $alpha: 1.0);

        span {
            position: absolute;
            margin-top: 8px;
            margin-left: 2px;

            width: 26px;
            height: 4px;
        }

        :first-child {
            transform: rotate(135deg);
        }
    
        :nth-child(2) {
            transform: rotate(-135deg);
        }
    }
}